.train_players_1{
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 100px;
}
.train_players_2{
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 150px;
}
.train_players_3{
    margin-top: 70px;
    display: flex;
    align-items: center;
    gap: 100px;
}
.t_p_1 iframe{
    border-radius: 10px;
    border: 3px solid royalblue;
}
.t_p_1 h3{
    font-size: 30px;
    margin-top: 20px;
}
.t_p_1 h4{
    font-size: 20px;
    margin-top: 10px;
}
.t_p_2 iframe{
    border-radius: 10px;
    border: 3px solid greenyellow;
}
.t_p_2 h3{
    font-size: 30px;
    margin-top: 20px;
}
.t_p_2 h4{
    font-size: 20px;
    margin-top: 10px;
}
.t_p_3 iframe{
    border-radius: 10px;
    border: 3px solid gold;
}
.t_p_3 h3{
    font-size: 30px;
    margin-top: 20px;
}
.t_p_3 h4{
    font-size: 20px;
    margin-top: 10px;
}
.t_p_4 iframe{
    border-radius: 10px;
    border: 3px solid grey;
}
.t_p_4 h3{
    font-size: 30px;
    margin-top: 20px;
}
.t_p_4 h4{
    font-size: 20px;
    margin-top: 10px;
}
.t_p_5 iframe{
    border-radius: 10px;
    border: 3px solid darkslategray;
}
.t_p_5 h3{
    font-size: 30px;
    margin-top: 20px;
}
.t_p_5 h4{
    font-size: 20px;
    margin-top: 10px;
}
.t_p_6 iframe{
    border-radius: 10px;
    border: 3px solid orange;
}
.t_p_6 h3{
    font-size: 30px;
    margin-top: 20px;
}
.t_p_6 h4{
    font-size: 20px;
    margin-top: 10px;
}